<!DOCTYPE html>
<html lang="en">
  <head>
    <title> gojobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <!-- Use default theme for example. The CSS of each theme is built seperately, don't include multiple themes toghther.    https://unpkg.com/luda@0.1.13/dist/css/l  -->


<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />

 

  </head>
  <body>    <body><div class="container ">
 <div class="terminal-nav">
    <div class="terminal-logo">
      <div class="logo terminal-prompt"><a href="#" class="no-style">gojobs</a></div>
    </div>
    <div  class="terminal-menu"  >
      <ul>
        <li><a class="menu-item" href="/">Home </a></li>
  
        <li><a class="menu-item" href="/new">New </a></li>
      </ul>
    </div>
</div>
</div>

  <div class="container ">


  <div class="grid">
  
    <div class="col-3">
    
    </div>
    
  <div class="col-6">



<div class="terminal-timeline">

 {{range .Jobs}}

    <div class="terminal-card">


      <header>  {{.Title}}  </header>
      <div style="overflow:hidden" > 
          {{ if .Is996 }} 
          <div class="terminal-alert terminal-alert-error" style="float:left;background:crimson;color:yellow">
       <span class="badge danger"><b>996</b></span>
            </div>
 {{ end}}
        <div class="col-11"     style="float:right"> <font color="red" class="text-lead"> {{.Salarybase}}K - {{.Salarytop}}K</font	> </div>

   
    </div>

       <div>
       {{.Description}}
      </div>
    </div>
   {{end}}
 
  </div>






</div>

    <div class="col-3">
    
    </div>
 
 



</div>

  </div></body>
</html>
