<!DOCTYPE html>
<html lang="en">
  <head>
    <title> gojobs </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <!-- Use default theme for example. The CSS of each theme is built seperately, don't include multiple themes toghther.    https://unpkg.com/luda@0.1.13/dist/css/l  -->
<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />

<style>
label{
display:inline-block;
width:120px;

}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="text"] ,textarea{
width:auto;
}

</style>
  </head>
  <body><div class="container ">
 <div class="terminal-nav">
    <div class="terminal-logo">
      <div class="logo terminal-prompt"><a href="#" class="no-style">gojobs</a></div>
    </div>
    <nav class="terminal-menu">
      <ul>
        <li><a class="menu-item" href="/">Home </a></li>
  
        <li><a class="menu-item" href="/new">New </a></li>
      </ul>
    </nav>
 
</div>
</div>

  <div class="container ">


  <div class="grid">
  
    <div class="col-3">
    
    </div>
    
  <div class="col-6">
<form action="/new" method="post">
    <fieldset>
      <legend> New job</legend>
      <div class="form-group">
        <label for="email">title:</label>
        <input id="email" name="title" required=""   size="50"  minlength="5" placeholder="test"   type="text">
      </div>
      <div class="form-group">
        <label for="text">email:</label>
        <input id="text" name="email" required=""  size="50" type="email" minlength="5" placeholder="test">
      </div>
      <div class="form-group">
        <label for="itext">salary:</label>
        <input id="itext" name="salarybase" minlength="10"   size="25" type="text">  -   <input id="itext" name="salarytop" minlength="10" type="text">
      </div>
      
 
      <div class="form-group">
        <label for="radio">996:</label>
        <input name="is996"   type="radio" value="1">996    <input name="is996"  type="radio"  value="0" >955
      </div>
      <div class="form-group">
        <label for="check">remote:</label>
        <input for="check" id="check"  name="remote" type="checkbox">
      </div>
      <!--
      <div class="form-group">
        <label for="select">Select field:</label>
        <select id="select" name="select">
          <option> Option 01 </option>
          <option> Option 02 </option>
        </select>
      </div>
      -->
      <div class="form-group">
        <label for="tarea">Textarea:</label>
        <textarea id="tarea" cols="50" rows="5" name="jd">Textarea text</textarea>
      </div>
      <div class="form-group">
        <label for="submit"   style="visibility:hidden">Input Button:</label>
       <button class="btn btn-primary">Publish</button>
      </div>


 
      
    </fieldset>
  </form>
 







</div>

    <div class="col-3">
    
    </div>
 
 



</div>

  </div></body>
</html>
